apiVersion: batch/v1
kind: Job
metadata:
  name: redfish-event-test
  namespace: cloud-native-events
  labels:
    app: redfish-event-test
spec:
  template:
    metadata:
      labels:
        app: redfish-event-test
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: app
                    operator: In
                    values:
                      - local
      containers:
        - name: redfish-event-test
          image: quay.io/redhat_emp1/redfish-event-test:latest
          env:
            - name: MSG_PER_SEC
              value: "10"
            - name: TEST_DURATION_SEC
              value: "600"
            - name: INITIAL_DELAY_SEC
              value: "60"
            - name: CHECK_RESP
              value: "YES"
            - name: WITH_MESSAGE_FIELD
              value: "YES"
            - name: TEST_DEST_URL
              value: "http://hw-event-proxy-service:9087/webhook"
            - name: MY_NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: MY_POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: MY_POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: MY_POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
      restartPolicy: Never