apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: router
  name: router
  namespace: router
data:
  qdrouterd.conf: |2+

    router {
        mode: standalone
        id: router
    }

    listener {
        # for ipv6 use host: ::
        host: 0.0.0.0
        port: 5672
        role: normal
    }

    address {
        prefix: closest
        distribution: closest
    }

    address {
        prefix: multicast
        distribution: multicast
    }

    address {
        prefix: unicast
        distribution: closest
    }

    address {
        prefix: exclusive
        distribution: closest
    }

    address {
        prefix: broadcast
        distribution: multicast
    }
    address {
        prefix: cluster/node
        distribution: multicast
    }

